.loading{
    background:url(../assets/loading.gif) no-repeat center;
    height :2.4rem;
}

.wrap{
    position: relative;
    min-height: 500px;
    width: 100%;
    .input-item{
        border: 1px solid #d9dfd5;
        border-width: 1px 0;
        margin-top: 30px;
        padding: 0 0 0 20px;
        background: #fff;
        .input-item-list{
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid #e7e7e7;
            i{
                display: block;
                position: absolute;
                top: 20px;
                left: 0;
                width: 20px;
                height: 20px;
                color: #008842;
                font-size: 20px;
            }
            input{
                display: block;
                height: 30px;
                font-size: 16px;
                border: none;
                background: none;
                padding: 0 0 0 30px;
            }
        }
    }
}